/*
2
Important: 

    set "visibility:hidden" for better results

    or use src/css/imgLiquid.js.css

*/

/* .imgLiquid img{

    visibility:hidden;
} */
.photo {
  margin: 20px;
  width: 20%;
  height: auto;
};

.carousel-item {

  width: 33%;
  height: auto;
};


#results-appear-here {width:50px; height:50px;background:red; display:inline-block;vertical-align:top;}