.img-restaurants{
  height: 100px;
  width: 100px;
}
.img-carousel{

  height: 300px;
  width: 300px; 
}

.restaurant-name
{
  font-size : 10px;
  /* font-weight: bold; */
}

.restaurant-card
{
  padding:0px;
}

.navbar, .card-header {
  font-family: 'Lobster', cursive;
}


html,
    body {
      margin: 0;
      padding: 0;
      background-image: url(../images/BG-restaurant.png);
      font-family: 'Cabin', sans-serif;
    }
    * {
      box-sizing: border-box;
    }
    .slider {
      width: 90%;
      height: 100%;
      margin: 10px auto;
    }
    .slick-slide {
      margin: 0px 20px;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .5;
    }
    .slick-active {
      opacity: 1;
    }
    .slick-current {
      opacity: 1;
    }



